$header-height: rem(80);

.header{
  @include fixed(rem(32) 0 null 0);
  width: 100%;
  background: rgba(#000, .7);
  z-index: 1;
  @include clearfix;
  height: $header-height;

  .logo{
    float: left;
    height: $header-height;
    line-height: $header-height;

    img{
      vertical-align: middle;
    }
  }
}