$base-slider-width: 100%;
$base-slider-wrapper-width: $base-slider-width;
$base-slider-height: null;

.slider-wrapper {
  @if($base-slider-wrapper-width){
    width: $base-slider-wrapper-width;
  }
}

.slider {
  @if($base-slider-width){
    width: $base-slider-width;
  }
  @if($base-slider-height){
    height: $base-slider-height;
  }

  margin: 0;

  .owl-dots{
    text-align: center;
    margin-top: rem(10);

    .owl-dot{
      @include size(rem(12));
      background: $secondary-color;
      display: inline-block;
      margin: 0 rem(5);
      border-radius: 50%;

      &.active{
        opacity: .7;
      }
    }
  }

  .slide {

  }

}