// Typography
$base-font-family: 'Dosis', sans-serif;
$heading-font-family: 'Roboto Slab', serif;

// Font Sizes
$base-font-size: rem(14);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// h1-h6 font sizes
$h1-font-size: rem(32);
$h2-font-size: rem(24);
$h3-font-size: rem(18);
$h4-font-size: 1em;
$h5-font-size: rem(13);
$h6-font-size: rem(10);