.footer{
  padding: rem(30) 0;
  @include fixed(null null 0 null);
  width: 100%;
  @include background-image(linear-gradient(top, transparent 0, #000 100%));
  @include clearfix;

  &-inner{

  }

  &-copyright{
    float: left;
  }
}